<ng-container *ngIf="diseases">
    <p-fieldset legend="Enfermedades familiares" [toggleable]="true">
        <div class="mb-2">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <p-button (onClick)="display = true; diseaseToEdit = undefined;" label="Agregar" styleClass="p-button-success"></p-button>
                </div>
            </p-toolbar>
        </div>
        <p-table #dt [value]="diseases" [rows]="10" [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <h2 class="m-0">Lista de enfermedades</h2>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="relationship">Parentesco <p-sortIcon field="relationship"></p-sortIcon></th>
                    <th pSortableColumn="diseaseName">Enfermedad <p-sortIcon field="diseaseName"></p-sortIcon></th>
                    <th id="actions-header"> Acciones </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-disease>
                <tr>
                    <td>{{disease.relationship}}</td>
                    <td>{{disease.diseaseName}}</td>
                    <td id="actions-buttons">
                        <button pButton pRipple icon="pi pi-pencil" title="Editar alergia" class="p-button-rounded p-button-success mr-2" (click)="display = true; diseaseToEdit = disease;"></button>
                        <button pButton pRipple icon="pi pi-trash" title="Borrar alergia" class="p-button-rounded p-button-danger mr-2" (click)="deleteDisease(disease)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex justify-content-between">
                    En total hay {{diseases ? diseases.length : 0 }} enfermedades.
                </div>
            </ng-template>
        </p-table>
    </p-fieldset>
    <p-confirmDialog header="Confirmación" key="disease" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</ng-container>

<p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{height: '50vh'}">
    <p-card>
        <ng-template pTemplate="title">
            {{ diseaseToEdit ? 'Editar enfermedad familiar' : 'Agregar enfermedad familiar' }}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Por favor, ingresa los campos requeridos.
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="familiarForm" autocomplete="off">
                <div class="p-fluid formgrid grid">
                    <div class="field mr-2">
                        <label for="relationship">Parentesco<span class="required-input">*</span></label>
                        <p-dropdown id="relationship" [options]="relationshipList" formControlName="relationship"></p-dropdown>
                    </div>
                    <div class="field">
                        <label for="diseaseName">Nombre de la enfermedad<span class="required-input">*</span></label>
                        
                        <input  id="diseaseName" 
                                type="text" 
                                placeholder="Ingrese el nombre de la enfermedad"
                                [value]="diseaseToEdit ? diseaseToEdit.diseaseName : ''" 
                                formControlName="diseaseName"
                                [class.ng-dirty]="familiarForm.get('diseaseName')?.touched"
                                [class.ng-valid]="familiarForm.get('diseaseName')?.valid && (familiarForm.get('diseaseName')?.dirty || familiarForm.get('diseaseName')?.touched)"
                                [class.ng-invalid]="familiarForm.get('diseaseName')?.invalid && (familiarForm.get('diseaseName')?.dirty || familiarForm.get('diseaseName')?.touched)"
                                pInputText />
                        
                        <div    *ngIf="familiarForm.get('diseaseName')?.invalid && 
                                familiarForm.get('diseaseName')?.errors && 
                                (familiarForm.get('diseaseName')?.dirty || familiarForm.get('diseaseName')?.touched)">
            
                            <small class="p-error"
                                *ngIf="familiarForm.get('diseaseName')?.hasError('required')">
                                Este campo es obligatorio.
                            </small>
            
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex align-items-end justify-content-end">
                <ng-container *ngIf="diseaseToEdit">
                    <p-button [disabled]="familiarForm.invalid" (onClick)="editDisease()" label="Editar" ></p-button>
                </ng-container>
                <ng-container *ngIf="!diseaseToEdit">
                    <p-button [disabled]="familiarForm.invalid" (onClick)="addDisease()" label="Agregar" ></p-button>
                </ng-container>
            </div>
        </ng-template>
    </p-card>
</p-dialog>