<div class="mb-2">
    <app-menu></app-menu>
</div>

<div class="mb-2">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="Agregar" icon="pi pi-plus" class="mr-2" (onClick)="displayAdd = true"></p-button>
        </div>
    </p-toolbar>
</div>

<div class="card">
    <p-table #dt [value]="patients" [rows]="7" [paginator]="true" [globalFilterFields]="['patientId', 'name']" responsiveLayout="scroll" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [rowHover]="true" dataKey="patientId" currentPageReportTemplate="Mostrando del paciente {first} al {last} de un total de {totalRecords} pacientes" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between align-content-center">
                <h2 class="m-0">Pacientes</h2>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="patientId" pResizableColumn>Número de identificación <p-sortIcon field="patientId"></p-sortIcon></th>
                <th pSortableColumn="name" pResizableColumn>Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn>Fecha de nacimiento</th>
                <th pResizableColumn>Dirección</th>
                <th pResizableColumn>Teléfono</th>
                <th pSortableColumn="gender" pResizableColumn>Sexo <p-sortIcon field="gender"></p-sortIcon></th>
                <th id="actions-header" pResizableColumn>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
            <tr>
                <td>{{patient.patientId}}</td>
                <td>{{patient.firstName + ' ' + patient.lastName}}</td>
                <td>{{patient.birthDate | date: 'dd-MM-yyyy':'+0000'}}</td>
                <td>{{patient.address }}</td>
                <td>{{patient.phoneNumber }}</td>
                <td>{{patient.gender }}</td>
                <td id="actions-buttons">
                    <button pButton pRipple icon="pi pi-pencil" title="Editar paciente" class="p-button-rounded p-button-success mr-2" (click)="getPatient(patient)"></button>
                    <button pButton pRipple icon="pi pi-trash" title="Borrar paciente" class="p-button-rounded p-button-danger mr-2" (click)="deletePatient(patient)"></button>
                    <button pButton pRipple icon="pi pi-eye" title="Ver historia clinica" class="p-button-rounded p-button-info" [routerLink]="['/historia/' + patient.patientId]" routerLinkActive="router-link-active"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{patients ? patients.length : 0 }} {{patients.length === 1 ? 'paciente' : 'pacientes'}}.
            </div>
        </ng-template>
    </p-table>
</div>

<!-- Para eliminar un paciente -->
<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>

<!-- Para editar un paciente -->
<p-dialog [(visible)]="displayEdit" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vw'}">
    <app-patient-form [isEdit]='displayEdit' [patient]='patient' (sendBoolean)='receiveMessage($event)' (sendPatient)="editPatient($event)"></app-patient-form>
</p-dialog>

<!-- Para agregar un paciente -->
<p-dialog [(visible)]="displayAdd" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '75vw'}">
    <app-steps-form (final)="closeDialog()" (patient)="addPatient($event)"></app-steps-form>
</p-dialog>

<p-toast></p-toast>