<p-card>
    <ng-template pTemplate="title">
        Historia clínica del paciente
    </ng-template>
    <ng-template pTemplate="subtitle">
        Llene las siguientes opciones atentamente.
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="historyForm" autocomplete="off">
            <div class="p-fluid formgrid grid">
                <div class="col-12 md:col-6">
                    <p-fieldset legend="Medicación actual">
                        <div class="field p-fieldset-content">
                            <label for="current-medication">¿El paciente ha estado tomando algún medicamento? ¿Cuál? </label>
                            <textarea id="current-medication" [rows]='5' [autoResize]="true" formControlName="currentMedication" pInputTextarea></textarea>
                        </div>
                    </p-fieldset>
                </div>

                <div class="col-12 md:col-6">
                    <p-fieldset legend="Comentario adicional">
                        <div class="field p-fieldset-content">
                            <label for="additional-comment">Indique información relevante sobre el paciente de ser necesario.</label>
                            <textarea id="additional-comment" [rows]='5' [autoResize]="true" formControlName="additionalComment" pInputTextarea></textarea>
                        </div>
                    </p-fieldset>
                </div>
                
                <div class="col-12 md:col-6 mt-3">
                    <p-fieldset legend="Peso y talla">
                        <div class="field">
                            <label for="weight">Peso (kg)<span class="required-input">*</span></label>
                            <p-inputNumber  
                                inputId="weight" 
                                mode="decimal"
                                [minFractionDigits]="2" 
                                formControlName="weight"
                                [class.ng-dirty]="historyForm.get('weight')?.touched"
                                [class.ng-valid]="historyForm.get('weight')?.valid && (historyForm.get('weight')?.dirty || historyForm.get('weight')?.touched)"
                                [class.ng-invalid]="historyForm.get('weight')?.invalid && (historyForm.get('weight')?.dirty || historyForm.get('weight')?.touched)">
                            </p-inputNumber>

                            <div    *ngIf="historyForm.get('weight')?.invalid && 
                                    historyForm.get('weight')?.errors && 
                                    (historyForm.get('weight')?.dirty || historyForm.get('weight')?.touched)">
    
                                <small class="p-error"
                                    *ngIf="historyForm.get('weight')?.hasError('required')">
                                    Este campo es obligatorio.
                                </small>
            
                                <small class="p-error"
                                    *ngIf="historyForm.get('weight')?.hasError('max')">
                                    Este campo no debe ser mayor a 300 kg.
                                </small>
            
                                <small class="p-error"
                                    *ngIf="historyForm.get('weight')?.hasError('min')">
                                    Este campo no debe ser menor a 0,10 kg.
                                </small>

                            </div>

                        </div>
                        <div class="field">
                            <label for="height">Talla (m)<span class="required-input">*</span></label>
                            <p-inputNumber inputId="height" mode="decimal" [minFractionDigits]="2" formControlName="height">
                            </p-inputNumber>
                        </div>
                    </p-fieldset>
                </div>

                <div class="col-12 md:col-6 mt-3">
                    <p-fieldset legend="Hábitos saludables y no saludables">
                        <div class="p-fieldset-content">
                            <div class="field-checkbox">
                                <p-checkbox [value]="false" [binary]="true" inputId="do-exercise" formControlName="doExercise"></p-checkbox>
                                <label for="do-exercise">¿El paciente hace deporte?<span class="required-input">*</span></label>
                            </div>
                            <div class="field-checkbox">
                                <p-checkbox [value]="false" [binary]="true" inputId="alcohol" formControlName="alcoholConsumption"></p-checkbox>
                                <label for="alcohol">¿El paciente es consumidor frecuente de alcohol?<span class="required-input">*</span></label>
                            </div>
                            <div class="field-checkbox">
                                <p-checkbox [value]="false" [binary]="true" inputId="smoker" formControlName="smoker"></p-checkbox>
                                <label for="smoker">¿El paciente es fumador?<span class="required-input">*</span></label>
                            </div>
                        </div>
                    </p-fieldset> 
                </div>
                
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
            <p-button label="Anterior" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Siguiente" (onClick)="saveHistory()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>