<p-panel >
    <ng-template pTemplate="header">
        <h4 style="margin: 0%;">Informacion personal del doctor</h4>
    </ng-template>
    <form [formGroup]="doctorForm" autocomplete="off">
        <div class="p-fluid formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="doctor-id">Identificación<span class="required-input">*</span></label>
                <input  id="doctor-id" 
                        type="number" 
                        placeholder="Ingrese el número de identificación" 
                        formControlName="doctorId"
                        [class.ng-dirty]="doctorForm.get('doctorId')?.touched"
                        [class.ng-valid]="doctorForm.get('doctorId')?.valid && (doctorForm.get('doctorId')?.dirty || doctorForm.get('doctorId')?.touched)"
                        [class.ng-invalid]="doctorForm.get('doctorId')?.invalid && (doctorForm.get('doctorId')?.dirty || doctorForm.get('doctorId')?.touched)"
                        pInputText>
    
                <div    *ngIf="doctorForm.get('doctorId')?.invalid && 
                        doctorForm.get('doctorId')?.errors && 
                        (doctorForm.get('doctorId')?.dirty || doctorForm.get('doctorId')?.touched)">

                    <small class="p-error"
                        *ngIf="doctorForm.get('doctorId')?.hasError('required')">
                        Este campo es obligatorio.
                    </small>

                    <small class="p-error"
                        *ngIf="doctorForm.get('doctorId')?.hasError('pattern')">
                        Este campo debe tener una longitud de 10 a 14 caracteres y no debe ser negativo.
                    </small>

                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label for="firstName">Nombre<span class="required-input">*</span></label>
                <input  id="firstName" 
                        type="text" 
                        placeholder="Ingrese el nombre" 
                        formControlName="firstName" 
                        [class.ng-dirty]="doctorForm.get('firstName')?.touched"
                        [class.ng-valid]="doctorForm.get('firstName')?.valid && (doctorForm.get('firstName')?.dirty || doctorForm.get('firstName')?.touched)"
                        [class.ng-invalid]="doctorForm.get('firstName')?.invalid && (doctorForm.get('firstName')?.dirty || doctorForm.get('firstName')?.touched)"
                        pInputText>
                    
                <div    *ngIf="doctorForm.get('firstName')?.invalid && 
                        doctorForm.get('firstName')?.errors && 
                        (doctorForm.get('firstName')?.dirty || doctorForm.get('firstName')?.touched)">
    
                    <small class="p-error"
                        *ngIf="doctorForm.get('firstName')?.hasError('required')">
                        Este campo es obligatorio.
                    </small>
    
                    <small class="p-error"
                        *ngIf="doctorForm.get('firstName')?.hasError('pattern')">
                        {{ doctorForm.get('firstName')?.value[0] == ' ' ? 'El campo debe iniciar con una letra.' : 'El nombre solo puede contener letras y espacios.' }}
                    </small>
    
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label for="lastName">Apellidos<span class="required-input">*</span></label>
                <input  id="lastName" 
                        type="text" 
                        placeholder="Ingrese los apellidos" 
                        formControlName="lastName" 
                        [class.ng-dirty]="doctorForm.get('lastName')?.touched"
                        [class.ng-valid]="doctorForm.get('lastName')?.valid && (doctorForm.get('lastName')?.dirty || doctorForm.get('lastName')?.touched)"
                        [class.ng-invalid]="doctorForm.get('lastName')?.invalid && (doctorForm.get('lastName')?.dirty || doctorForm.get('lastName')?.touched)"
                        pInputText>
                    
                <div    *ngIf="doctorForm.get('lastName')?.invalid && 
                        doctorForm.get('lastName')?.errors && 
                        (doctorForm.get('lastName')?.dirty || doctorForm.get('lastName')?.touched)">
    
                    <small class="p-error"
                        *ngIf="doctorForm.get('lastName')?.hasError('required')">
                        Este campo es obligatorio.
                    </small>
    
                    <small class="p-error"
                        *ngIf="doctorForm.get('lastName')?.hasError('pattern')">
                        {{ doctorForm.get('lastName')?.value[0] == ' ' ? 'El campo debe iniciar con una letra.' : 'El nombre solo puede contener letras y espacios.' }}
                    </small>
    
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label for="address">Dirección<span class="required-input">*</span></label>
                    <input  id="address" 
                            type="text" 
                            placeholder="Ingrese la dirección" 
                            formControlName="address" 
                            [class.ng-dirty]="doctorForm.get('address')?.touched"
                            [class.ng-valid]="doctorForm.get('address')?.valid && (doctorForm.get('address')?.dirty || doctorForm.get('address')?.touched)"
                            [class.ng-invalid]="doctorForm.get('address')?.invalid && (doctorForm.get('address')?.dirty || doctorForm.get('address')?.touched)"
                            pInputText>
    
                    <div    *ngIf="doctorForm.get('address')?.invalid && 
                            doctorForm.get('address')?.errors && 
                            (doctorForm.get('address')?.dirty || doctorForm.get('address')?.touched)">
    
                        <small class="p-error"
                            *ngIf="doctorForm.get('address')?.hasError('required')">
                            Este campo es obligatorio.
                        </small>
                        
                        <small class="p-error"
                            *ngIf="doctorForm.get('address')?.hasError('pattern')">
                            La dirección puede tener los caracteres especiales .#,-. Recuerda comenzar con una letra.
                        </small>

                    </div>
            </div>
            <div class="field col-12 md:col-6">
                <label for="phone-number">Número de teléfono<span class="required-input">*</span></label>
                    <input  id="phone-number" 
                            type="number" 
                            placeholder="Ingrese el número de teléfono" 
                            formControlName="phoneNumber" 
                            [class.ng-dirty]="doctorForm.get('phoneNumber')?.touched"
                            [class.ng-valid]="doctorForm.get('phoneNumber')?.valid && (doctorForm.get('phoneNumber')?.dirty || doctorForm.get('phoneNumber')?.touched)"
                            [class.ng-invalid]="doctorForm.get('phoneNumber')?.invalid && (doctorForm.get('phoneNumber')?.dirty || doctorForm.get('phoneNumber')?.touched)"
                            pInputText>
    
                    <div    *ngIf="doctorForm.get('phoneNumber')?.invalid && 
                            doctorForm.get('phoneNumber')?.errors && 
                            (doctorForm.get('phoneNumber')?.dirty || doctorForm.get('phoneNumber')?.touched)">
    
                        <small class="p-error"
                            *ngIf="doctorForm.get('phoneNumber')?.hasError('required')">
                            Este campo es obligatorio.
                        </small>

                        <small class="p-error"
                            *ngIf="doctorForm.get('phoneNumber')?.hasError('pattern')">
                            Este campo debe tener una longitud de 10 a 14 caracteres y no debe ser negativo.
                        </small>
    
                    </div>
            </div>
            <div class="field col-12 md:col-6">
                <label for="specialty">Identificación<span class="required-input">*</span></label>
                <input  id="specialty" 
                        type="number" 
                        placeholder="Ingrese el número de identificación" 
                        formControlName="specialty"
                        [class.ng-dirty]="doctorForm.get('specialty')?.touched"
                        [class.ng-valid]="doctorForm.get('specialty')?.valid && (doctorForm.get('specialty')?.dirty || doctorForm.get('specialty')?.touched)"
                        [class.ng-invalid]="doctorForm.get('specialty')?.invalid && (doctorForm.get('specialty')?.dirty || doctorForm.get('specialty')?.touched)"
                        pInputText>
    
                <div    *ngIf="doctorForm.get('specialty')?.invalid && 
                        doctorForm.get('specialty')?.errors && 
                        (doctorForm.get('specialty')?.dirty || doctorForm.get('specialty')?.touched)">

                    <small class="p-error"
                        *ngIf="doctorForm.get('specialty')?.hasError('required')">
                        Este campo es obligatorio.
                    </small>

                    <small class="p-error"
                        *ngIf="doctorForm.get('specialty')?.hasError('pattern')">
                        Este campo debe tener una longitud de 10 a 14 caracteres y no debe ser negativo.
                    </small>

                </div> 
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="flex align-items-end justify-content-end">
            <p-button label="Crear" (click)="saveDoctor()"></p-button>
        </div>
    </ng-template>
</p-panel>